.navbar{
    background-color:#D3D3D3
    font-family: EB Garamond;
    padding: 45px;
    font-size: 20px;
    
}

.navbar-brand{
    font-size:35px;
    Font-family: EB garamond;
}

.carousel-item{
    height: 35rem;
    background-color: #D3D3D3;


    
}

.test{
    padding: 20px;
    border: 20px solid #D3D3D3;
    text-align:center mb-5 mt-5;
    font-family: EB Garamond;
    padding-top: 75px;
    background-color: #D3D3D3
    


}

.container mt-3{
    font-family: EB Garamond;
    padding: 20px;
    text-align:center;
    border: 20px solid #D3D3D3;
    width:24px;
    margin: auto;

}

h1{
    Font-family: EB Garamond;
    text-align: center;
    font-size:55px;
}
.h2{
    font-family: EB Garamond;
    text-align: center;
}
p{
    font-family: EB Garamond;
    font-size: 20px;
    


    
}
