.navbar{
    background-color:#BEB4A2;
    font-family: EB Garamond;
    padding: 45px;
    font-size: 20px;
    
}

.navbar-brand{
    font-size:35px;
    Font-family: EB garamond;
}

.carousel-item{
 height:35rem;
    background-color: #D3D3D3;


    
}

.test{
    
    padding: 15px;
    border: 20px solid #D3D3D3 rounded;
    text-align:center;
    font-family: EB Garamond;
    padding-top: 75px;
    border-width: 10px;
    border-radius: 5px;
    margin: 5px;
    border: 15px;
    /* width: 700px; */
    text-align: center;
    border:center;
    background-color:#BEB4A2;
    
    

}

.login-style{
    background-color:#BEB4A2;
    font-family: EB Garamond;
    border-width:700px;
    font-size: 
}

.loginform{
    font-family: EB Garamond;
    padding: 20px solid #D3D3D3 rounded;
    text-align:center;
    border: 20px solid #F0F0F0;
    width:700px;
    padding-top: 75px;
    border-radius: 5px;
    margin: 5px;
    border: 15px;
    width: 700px;
    text-align: center;


}

h1{
    Font-family: EB Garamond;
    text-align: center;
    font-size:55px;
}
.h2{
    font-family: EB Garamond;
    text-align: center;
}
p{
    font-family: EB Garamond;
    font-size: 20px;
    
}
body{
    background-color: #F0F0F0;
    text-align: center;
    
}
.card{
    background-color:#BEB4A2;
    margin: 25px;
    height:500px;
    width:300px;



    

}
.flex-container{
    display: flex;
    flex-direction: row;
}
.row{
    justify-content:center;
}
img{
    height:300px;
    width:300px;
    margin:5px;

}